# 微信小程序配置
WX_APPID=your_appid_here
WX_SECRET=your_secret_here
WX_SUBSCRIBE_TEMPLATE_ID=your_template_id_here

# JWT 配置
JWT_SECRET=your_jwt_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here

# MongoDB
MONGO_URL=mongodb://127.0.0.1/ms-da-projects
